body {
    background: gainsboro ;
    margin:0px;
}
header{
    background: white;
}

header h1{
    margin: 0px;
    padding: 20px;
}

div.container{
    width: 600px;
    margin:auto;
}
div.post1{
    background: white;
}
div.post1 img{
    width: 100%;
}
div.post1 h2, div.post1 p {
    padding: 10px;
}